<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")  %>

    <body>
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form action="/register" method="POST">
                            <input type="hidden" id="user" name="role" value="user" />
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="name" name="name" class="form-control form-control-lg" placeholder="Enter your name" />
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">

                                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Enter a valid email address" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Enter password" />

                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Have an account? <a href="/login" class="link-danger">Login</a></p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <%- include("./partials/footer")  %>
        </section>
    </body>
    <!-- footer here -->

</html>








<!-- ================================= -->


<!-- <h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a> -->